h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif
}

.cores{
    background-color: aqua;
}

p{
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
    font-style: oblique;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
}

#amarelo{
    background-color: yellow;
}

#vermelho{
    background-color: red;
}

#marrom{
    background-color: maroon;
}